
body {
    font-family: helvetica, sans-serif;
    text-align: center;
}

#submission_info {
    background-color: yellow;
}

.instructions {
    border: 1px dotted black;
    border-radius: 25px;
    border-spacing: 50px; 
}
