<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="static/CSS/styles.css">
<title>Application Form</title>


<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-6">

      <a class="logo"/a>
        <img id="logo-image" class="image-resposive" alt="Job Application" src="static/Images/FBISEAL.png" />
      </a>

      <!-- This is where the main content goes. -->
      {% block body %}
          BODY
      {% endblock %}

    </div>
  </div>
</div>

<footer>Copyright 2017. FBI USA</footer>

</body>
</html>
