<!doctype html>
<html>
<head>
    <title>Student Info</title>
</head>
<body>
<h1>{{ first }} {{ last }}</h1>

<p>GitHub Account: {{ github }}</p>

<p>Projects | Grades</p>
{% if project_and_grade %}
    <ul>
        {% for project_title, grade in project_and_grade %}
            <li>Project: <a href="/project?title={{ project_title }}">{{ project_title }}</a>, Grade: {{ grade }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>This student doesn't have any projects yet.</p>
{% endif %}



</body>
</html>